@font-face {
  font-family: "cinema-bold";
  src: url(../fonts/Cinematografica-Thin-trial.ttf);
  font-family: "octuple";
  src: url(../fonts/Octuple-max-demo.ttf); }

html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    */
  background: #cacaca; }

/**************** 
*  mediaquerys  *
****************/
@media only screen and (max-width: 1230px) {
  .name {
    grid-row: auto;
    grid-column: 1 / -1; }
    .name img {
      margin: 20px 0; }
  .text {
    grid-row: auto;
    grid-column: 1 / -1; } }

@media only screen and (max-width: 1030px) {
  h1 {
    font-size: 70px !important; }
  span {
    font-size: 70px; } }

@media only screen and (max-width: 940px) {
  .skull img {
    width: 150px !important; } }

@media only screen and (max-width: 780px) {
  #draggable {
    display: none; }
  #draggable2 {
    display: none; }
  .name img {
    width: 200px !important; }
  h1 {
    font-size: 60px !important; }
  span {
    font-size: 60px; } }

@media only screen and (max-width: 640px) {
  .crc img {
    width: 30px !important; }
  .crc p {
    font-size: 12px; }
  .name img {
    width: 150px !important; }
  h1 {
    font-size: 40px !important; }
  span {
    font-size: 40px; }
  .skull img {
    width: 120px !important; } }

@media only screen and (max-width: 520px) {
  .text {
    padding: 10px !important; }
    .text h1 {
      font-size: 30px !important; }
    .text span {
      font-size: 30px; } }

@media only screen and (max-width: 390px) {
  .grid-container {
    justify-content: center !important;
    margin: 10 !important; }
  .crc p {
    font-size: 8px; }
  .name img {
    width: 100px !important;
    margin: 10px; }
  .text h1 {
    text-align: start !important; }
  .skull {
    padding: 20px !important; }
    .skull img {
      width: 100px !important; } }

#draggable {
  width: 250px;
  height: auto;
  padding: 0.5em;
  background: #cacaca;
  border: 2px solid #161616;
  position: absolute;
  top: 300px;
  left: 230px;
  z-index: 10;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.1));
  cursor: grab; }
  #draggable:active {
    cursor: grabbing; }
  #draggable img {
    width: 200px;
    margin: 15px;
    border: 2px solid #161616; }
  #draggable .close {
    cursor: pointer; }

#draggable2 {
  width: 350px;
  height: auto;
  padding: 0.5em;
  background: #cacaca;
  border: 2px solid #161616;
  position: absolute;
  top: 100px;
  left: 550px;
  z-index: 10;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.1));
  cursor: grab; }
  #draggable2:active {
    cursor: grabbing; }
  #draggable2 img {
    width: 300px;
    margin: 15px;
    border: 2px solid #161616; }
  #draggable2 .close {
    cursor: pointer; }

.grid-container {
  display: grid;
  grid-template-columns: 350px auto;
  justify-content: center;
  align-content: center;
  margin: 20px;
  /*
    .designs{
        grid-column: 1 / -1;
        padding: 200px 30px;

        display: flex;
        justify-content: space-evenly;

        img{
            width: 600px;
            filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.100));
        }

    }
*/ }
  .grid-container div {
    border: solid #161616 1px; }
  .grid-container .crc {
    grid-column: 1 / -1;
    display: flex;
    align-items: center; }
    .grid-container .crc img {
      width: 50px;
      padding: 5px;
      animation-name: crc;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes crc {
  100% {
    transform: rotateZ(360deg); } }
    .grid-container .crc p {
      margin: 0 20px;
      font-family: 'Syne Mono', monospace;
      font-weight: bolder; }
  .grid-container .name {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grid-container .name img {
      width: 250px; }
  .grid-container .text {
    justify-content: center;
    padding: 50px; }
    .grid-container .text h1 {
      text-align: end;
      color: #161616;
      font-family: 'octuple';
      font-size: 100px; }
    .grid-container .text span:hover {
      cursor: pointer;
      color: #ff4639; }
  .grid-container .skull {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    padding: 50px; }
    .grid-container .skull img {
      width: 200px; }
